################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/learningGIT.slnx/FileContentIndex/2fdfa645-134b-4d40-9c1e-ba912b3986b5.vsidx
/.vs/slnx.sqlite
/.vs/learningGIT.slnx/v18/DocumentLayout.backup.json
/.vs/slnx.sqlite-journal
/.vs/learningGIT.slnx/FileContentIndex/82c45997-cf4d-4853-a0fc-6ae4a9817c41.vsidx
/.vs/learningGIT.slnx/FileContentIndex/780243bd-5165-438b-83d8-2b65b0fc363c.vsidx
/.vs/learningGIT.slnx/FileContentIndex/77d7b20d-9e74-45d8-9908-2a5805ce9293.vsidx
/.vs/learningGIT.slnx/FileContentIndex/e081d1de-956d-4aa9-9b3d-17cd534112c1.vsidx
/.vs/learningGIT.slnx/FileContentIndex
/.vs/slnx.sqlite
**/.vs/